* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.forget-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 3rem;
}
.arrow-back {
    width: 50px;
    position: absolute;
    margin: 1rem
}

.forget-password .text-attention {
    margin: 0 -1rem;
}

.forget-password button {
    margin-top: 0.8rem;
}

.forget-password input {
    
    outline: 1px solid lightgray;
}

.forget-password .input {  
    margin-top: 3rem;
}

.forget-password .form-label {
    visibility: hidden;
}

